@theme {
  /* Light mode theme */
  --color-beige-two: rgb(251, 245, 221);
  --color-teal: rgb(139, 223, 221);
  --color-orange: rgb(244, 143, 104);
  --color-yellow: rgb(255, 227, 148);
  /* Dark mode theme */
  --color-navy-one: rgb(27, 60, 83);
  --color-navy-two: rgb(35, 76, 106);
  --color-navy-three: rgb(69, 104, 130);
  --color-beige: rgb(231, 225, 177);

  /* Light Mode */
  --color-primary: oklch(98.4% 0.003 247.858);
  --color-secondary: oklch(27.9% 0.041 260.031);
  --color-third: oklch(71.8% 0.202 349.761);
  --color-hover: oklch(44.6% 0.043 257.281);
  --color-active: oklch(55.4% 0.046 257.417);
  /* Dark Mode */
  --color-primary-dark: oklch(44.3% 0.11 240.79);
  --color-secondary-dark: oklch(82.8% 0.111 230.318);

  --color-surface: oklch(90% 0.01 0);
  --color-hover-dark: oklch(90% 0.01 0);
  --color-active-dark: oklch(76.8% 0.233 130.85);
  --color-primary-hover: oklch(45% 0.18 205);
  --color-primary-active: oklch(0.512 0.045 220.8);
  /* --color-secondary: oklch(75.5% 0.085 30); */
  --color-border: oklch(75.5% 0.085 30);
  --color-link: oklch(45.98% 0.129 249.65);
  --color-success: oklch(65% 0.15 130);
  --color-error: oklch(60% 0.25 30);
  --color-warning: oklch(70% 0.25 50);
  --color-info: oklch(65% 0.2 200);

  /* Dark mode con sufijo -dark */
  /* --color-bg-dark: oklch(10% 0.003 247.858); */
  --color-surface-dark: oklch(18% 0.01 0);
  /* --color-text-primary-dark: oklch(90% 0.041 260.031); */
  --color-text-secondary-dark: oklch(72% 0.05 250);
  /* --color-primary-dark: oklch(46% 0.174 205); */
  --color-primary-hover-dark: oklch(52% 0.18 205);
  --color-primary-active-dark: oklch(38% 0.16 205);
  /* --color-secondary-dark: oklch(30% 0.085 30); */
  --color-border-dark: oklch(30% 0.085 30);
  --color-link-dark: oklch(55% 0.129 249.65);
  --color-success-dark: oklch(60% 0.15 130);
  --color-error-dark: oklch(58% 0.25 30);
  --color-warning-dark: oklch(65% 0.25 50);
  --color-info-dark: oklch(55% 0.2 200);
}
