@layer components {
  /* Global Header */
  .global-header {
    @apply l-center px-10 sm:px-22;

    .header-item {
      @apply f-sm inline-flex h-2 min-w-10 items-center justify-center rounded-sm py-2.5 transition-all;
    }
  }

  /* .slide .gallery {
    @apply h-[10vh];
  } */
}

/* <ElementsMediaImageItem
              :src="item.image.asset._ref"
              :alt="item.image.alt"
              sizes="xs:100vw"
              :modifiers="{
                crop: item.image.crop,
                hotspot: item.image.hotspot,
                q: 80
              }"
              fit="cover"
              format="webp"
            /> */
